#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgb(255, 255, 255);
}
.site-layout .site-layout-background {
  background: rgb(255, 255, 255);
}