.input_search{
    border-radius: 15px;
    width: 60%;
}

.button_area {
    margin-top: 30px;
}

.button{
    margin-right: 20px;
    border: 0px solid white;
    border-radius: 5px;
}


.button:hover{
    border: 1px solid gray;
}

.options{
    border: 2px solid rgb(230, 226, 11);
    text-align: left;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.options > div {
    /* margin: 0 auto; */
    margin: 20px 20px 20px 20px;

}

.options > h1 {
    background-color: rgba(160, 143, 143, 0.459);
    padding: 10px 10px 10px 10px;
    color: rgb(15, 15, 15);
    border-bottom: 2px solid rgb(230, 226, 11);
}
.hide{
    visibility: show;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
